{% extends "layout.html" %}

{% block body %}

<div id="banner">
    <div class="container">
        <div class="title">
            <h2>Step 1:</h2>
            <span class="byline"> Choose Gene Regulatory Regions for Consideration </span> </div>
            <br>
            <br>
            <br>
            <div class="container" id="association_box">
                <div class="row">
                    <div class="col-sm">
                        <a href="{{ url_for('promoter_form') }}">
                            <button style="height: 20vh" type="button" id="promotor_box" class="w-75 btn btn-primary associationbox"> Promoter Only</button>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="{{ url_for('enhancer_form') }}">
                            <button style="height: 20vh" type="button" id="enhancer_box" class="w-75 btn btn-primary associationbox"> Enhancer Only</button>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="{{ url_for('promoter_enhancer_form') }}">
                            <button style="height: 20vh" type="button" id="promotor_enhancer_box" class="w-75 btn btn-primary associationbox"> Promoter and Enhancer</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock body %}