{% extends "layout.html" %}

{% block body %}
<div id="banner">
    <div class="container">
        <div class="title">
                <h2>Step 2:</h2>
                <span class="byline"> Input Constraints </span>
                <br>
                <br>
                <br>
            <form action="" method="POST" class="association_form">
                    {{ form.hidden_tag() }} 
                <h1>Study-Specific Parameters</h1><br>
                    <p>
                        {{ form.transcription_factors.label }}<br>
                        {{ form.transcription_factors(size=32) }}
                    </p>
                    <p>
                        {{ form.tissue_types.label }}<br>
                        {{ form.tissue_types(size=32) }}
                    </p>

                <h1>Peak-Specific Parameters</h1><br>
                    <p>
                        {{ form.log_p.label }}<br>
                        {{ form.log_p(size=32) }}
                    </p>
                    <p>
                        {{ form.fold_enrichment.label }}<br>
                        {{ form.fold_enrichment(size=32) }}
                    </p>

                <h1 >Provide Email</h1><br>
                    <p>{{ form.email.label }}<br>
                        {{form.email(size=32)}} 
                    </p>    
                <br>    
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</div>

{% endblock body %}