{% extends "layout.html" %}

{% block body %}

<div id="banner">
    <div class="container">
        <div class="title">
            <div id="home_title" class="titletext">WELCOME TO CHIP-IO</div>
        </div>
    </div>
</div>
<div id="featured1">
    <div class="container">
        <div class="title">
            <h2>GETTING STARTED</h2>
            <span class="byline"></span> </div>
        <p> To perform a custom set of analyses and have the bundled output data emailed to you, 
                navigate to the <a style="color: #8fd8f5" href="{{ url_for('construct_query') }}">"CONSTRUCT QUERY"</a> tab above.
        </p>
        <p> If you would prefer to directly download selected analysis presets, or are simply interested 
            in downloading plain ChIP-Seq peak datasets, 
            instead navigate to the <a style="color: #8fd8f5" href="{{ url_for('downloads') }}">"DOWNLOADS"</a> tab above.
        </p>
        <p> For more information on the technical aspects of the site, 
                navigate to the <a style="color: #8fd8f5" href="{{ url_for('about') }}">"ABOUT"</a> tab above.
        </p>
    </div>
</div>
{% endblock body %}