{% extends "layout.html" %}

{% block body %}

<div id="banner">
    <div class="container">
        <div class="title">
            <div id="home_title" class="titletext">WELCOME TO CHIP-IO</div>
        </div>
    </div>
</div>
<div id="featured1">
    <div class="container">
        <div class="title">
            <h2>OUR MOTIVATION</h2>
            <span class="byline"></span> </div>
        <p> Chromatin immunoprecipitation followed by sequencing (ChIP-Seq) continues to be a critical informer of protein-DNA binding. 
            ChIP-IO serves as a repository for the thousands of salvageable transcription factor ChIP-Seq datasets in existance, as well as a platform for 
            delivering rapid custom analysis on this data. </p>
    </div>
</div>
<div id="featured2">
    <div class="container">
        <div class="title">
            <h2>GETTING STARTED</h2>
            <span class="byline"></span> </div>
        <p> Looking for  </p>
    </div>
</div>
{% endblock body %}