<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : PlainDisplay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140309

-->
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/default.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/fonts.css') }}">

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
</head>
<body>	

<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a id="logo_image" href="{{ url_for('home') }}">ChIP-IO</a></h1>
			</div>
			<div id="menu">
				<ul>
					<li class="current_page_item"><a href="{{ url_for('home') }}" accesskey="1" title="">Home</a></li>
					<li><a href="{{ url_for('construct_query') }}" accesskey="3" title="">Construct Query</a></li>
					<li><a href="{{ url_for('downloads') }}" accesskey="4" title="">Downloads</a></li>
					<li><a href="{{ url_for('about') }}" accesskey="4" title="">About</a></li>	
					<li><a href="{{ url_for('contact') }}" accesskey="5" title="">Contact Us</a></li>
				</ul>
			</div>
		</div>
    </div>
<div>
	{% block body %}
	{% endblock body %}
</div>


</div>
<div id="copyright" class="container">
	<p>&copy; ChIP-IO. All rights reserved. | Authored by Saideep Gona</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
